<h1>Sign in</h1>

<% flash.each do |name, msg| %>
  <%= content_tag :p, msg, class: name %>
<% end %>

<%= form_for :session, url: sessions_path do |f| %>
  <%= f.label :email %>
  <%= f.text_field :email %>

  <%= f.label :password %>
  <%= f.password_field :password %>

  <%= f.submit 'Sign in', id: 'signin', class: 'action'  %>
<% end %>
<%= link_to "Not a Member? Join!", signup_path %>
