<%= form_for [@work, @comment] do |f| %>

  <div class="field">
    <%= f.text_area :body %>
  </div>

  <%= f.hidden_field :walters_id, :value => @search_results["ObjectID"] %>
  <%= f.submit "Submit" %>
<% end %>
