<% if signed_in? %>

  <%= form_for [current_user, @favorite] do |f| %>
    <%= f.hidden_field :walters_id, :value => @search_results["ObjectID"] %>
    <%= f.hidden_field :walters_title, :value => @search_results["Title"] %>
    <%= f.hidden_field :walters_image_url, :value => @search_results["Images"][0]["ImageURLs"]["Large"] %>
    <%= f.submit 'Add To Your Collection', class: 'action' %>
  <% end %>

<% else %>

  <p class="action"><%= link_to "Add to Your Collection", signup_path %></p>

<% end %>
