<div class="hero--container">
  <% random_results.shuffle.sample(1).each do |work| %>
    <div class="hero--inner">
      <a href="/works/<%= work["ObjectID"] %>"><img class="image--random" src="<%= work["PrimaryImage"]["Raw"] %>" alt="<%= work["Title"] %>" title="<%= work["Title"] %> &ndash; <%= work["Creator"] %>"/></a>
    </div>
    <h2><strong>Random Feature</strong>: <a href="/works/<%= work["ObjectID"] %>"><%= work["Title"] %> &ndash; <%= work["Creator"] %></a></h2>
    <p><%= work["Description"] %>&nbsp;<a href="/works/<%= work["ObjectID"] %>">Learn more&nbsp;&raquo;</a></p>
  <% end %>
</div>

