<div class="map">
  <h2><%= @search_results["Geographies"][0]["GeographyTerm"] %></h2>
  <iframe
    width="320"
    height="250"
    frameborder="0" style="border:0"
    src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAQC0PETU6apgsLpx-txbiYeXhSIq0PUao&q=<%= @work_long_lat %>&zoom=6">
  </iframe>
  <p>This map details the origin location of the object.</p>
</div>
