<h1><%= @search_results["Title"] %></h1>
<h2><a href="/search?utf8=✓&q=<%= @search_results['Creators'][0]['ConcatDisplayName'].tr(
"ÀÁÂÃÄÅàáâãäåĀāĂăĄąÇçĆćĈĉĊċČčÐðĎďĐđÈÉÊËèéêëĒēĔĕĖėĘęĚěĜĝĞğĠġĢģĤĥĦħÌÍÎÏìíîïĨĩĪīĬĭĮįİıĴĵĶķĸĹĺĻļĽľĿŀŁłÑñŃńŅņŇňŉŊŋÒÓÔÕÖØòóôõöøŌōŎŏŐőŔŕŖŗŘřŚśŜŝŞşŠšſŢţŤťŦŧÙÚÛÜùúûüŨũŪūŬŭŮůŰűŲųŴŵÝýÿŶŷŸŹźŻżŽž",
"AAAAAAaaaaaaAaAaAaCcCcCcCcCcDdDdDdEEEEeeeeEeEeEeEeEeGgGgGgGgHhHhIIIIiiiiIiIiIiIiIiJjKkkLlLlLlLlLlNnNnNnNnnNnOOOOOOooooooOoOoOoRrRrRrSsSsSsSssTtTtTtUUUUuuuuUuUuUuUuUuUuWwYyyYyYZzZzZz").gsub(" ", "+") %>&commit=Search"><%= @search_results["Creators"][0]["Role"] %>: <%= @search_results["Creators"][0]["ConcatDisplayName"] %></a></h2>

<% if @search_results["Images"][0]["ImageURLs"]["Raw"] %>
<img src="<%= @search_results["Images"][0]["ImageURLs"]["Raw"] %>" alt="">
<% end %>

<% if @search_results["Classification"] %>
<p>Classification: <%= @search_results["Classification"] %></p>
<% end %>

<% if @search_results["Collection"]["Name"] %>
<p>Collection: <%= @search_results["Collection"]["Name"] %></p>
<% end %>

<% if @search_results["DateEndYear"] %>
<p>Completed: <%= @search_results["DateEndYear"] %></p>
<% end %>

<% if @search_results["Period"] %>
<p>Period: <%= @search_results["Period"] %></p>
<% end %>

<% if @search_results["Description"] %>
<p>Description: <%= @search_results["Description"] %></p>
<% end %>

<% if signed_in? %>

  <%= form_tag(work_favorites_path, method: :post) do %>
    <%= submit_tag 'Favorite' %>
  <% end %>

<% end %>
