<h2>Search results for: <%= @search_query.gsub("+", " ") %></h2>
<div class="col-main">
  <% if @search_results %>
  <ul>
    <% @search_results.each do |work| %>
      <li>
        <%= render 'favorite_small_form' %>
        <div class="thumbnail">
        <a href="/works/<%= work["ObjectID"] %>">
          <% if work["PrimaryImage"]["Large"] %>
            <img src="<%= work["PrimaryImage"]["Large"] %>" alt="<%= work["Title"] %>">
          <% else %>
            <img src="http://i.imgur.com/Q4yxumC.png" alt="Image not available">
          <% end %>
        </a>
        </div>
      <a href="/works/<%= work["ObjectID"] %>"><%= work["Title"] %></a>
      <span class="details"><%= work["Creator"] %></span>
      <span class="details"><%= work["Classification"] %>, Completed: <%= work["DateEndYear"] %></span>
    </li>

    <% end %>
  </ul>
  <% else %>
    <p>No results found, please search again.</p>
    <%= render 'works/works_form' %>
  <% end %>
</div>
