<h2>Search results for: <%= @search_query.gsub("+", " ") %></h2>
<div class="col-main">
  <ul>
    <% @search_results.each do |exhibit| %>
    <li><a href="/exhibits/<%= exhibit["ObjectID"] %>"><%= exhibit["Title"] %></a><span class="details"><%= exhibit["Classification"] %>, Completed: <%= exhibit["DateEndYear"] %></span></li>
    <% end %>
  </ul>
</div>
