<h1><%= @search_results[0]["Title"] %></h1>

<div class="col-main">
  <ul>
    <% @search_results.each do |exhibit| %>
    <li><a href="/works/<%= exhibit["ObjectID"] %>"><%= exhibit["Title"] %></a><span class="details"><%= exhibit["Classification"] %>, Completed: <%= exhibit["DateEndYear"] %></span></li>
    <% end %>
  </ul>
</div>
