<div class="col-main">
  <% if @user.favorites.empty? %>
  <h2>Empty Personal Collection</h2>
    <p>You have not added any items to your personal collection.<br><br>
      Simply find an object you wish to access later and click "add." Then come back here and check it out!</p>
      <%= render 'works/works_form' %>
  <% else %>
      <% @user.favorites.each do |favorite| %>
      <li>
        <div class="thumbnail">
        <a href="/works/<%= favorite.walters_id %>"><img src="<%= favorite.walters_image_url %>"></a>
        </div>
        <a href="/works/<%= favorite.walters_id %>"><%= favorite.walters_title %></a>
      </li>
    <% end %>
  <% end %>
</div>
