<div class="main">

  <div class=".wrapper--feature">
    <%= render 'works/works_form' %>
  </div>

  <div class=".wrapper--feature">
    <%= render 'common/call_to_action' %>
  </div>

  <div class=".wrapper--feature">
    <%= render 'works/hero_work' %>
  </div>

</div>
