.text--app-title {
  background: black;
  color: white;
  font-size: 24px;
  font-weight: 700;
  margin: 0;
  padding: 0 85px;

  a {color: white;}
}

.list--header--horizontal-gallery {
  box-sizing: border-box;
  height: 180px;
  margin: 0;
  overflow: hidden;
  width: 100%;

  img {
    height: 100%;
    min-height: 180px;
    z-index: 999;
  }

  div {
    background: black;
    font-size: 0;
    height: 180px;
    margin: 0 0 0 -3%;
    padding: 0;
    position: relative;
    overflow: hidden;
    width: 120%;
  }
  span {
    display: inline-block;
    height: 180px;
    list-style: none;
  }
}

.row--full-width--black {
  background: black;
  color: white;
  height: 20px;
  margin: 0;
  text-align: center;
}

.hero--container {
  position: relative;

  h2, p {
    margin: 0;
  }

  h2 {
    border-bottom: 2px solid black;
    border-top: none;
  }
}

.hero--inner {
  height: 300px;
  overflow: hidden;
}

.hero--inner img {
  margin-top: -15%;
}

// Tooltip
[title] {
  position: relative;
  &:before, &:after {
    display: block;
    opacity: 0.0;
    visibility: hidden;
    z-index: 999;
  }
  // tooltip box
  &:before {
    content: attr(title);
  }
  &:after {
    content: '';
  }
  &:hover, &:focus{
    &:before, &:after {
      opacity: 1;
      visibility: visible;
    }
  }
}

footer {
  background: black;
  min-height: 80px;

  a, a:hover, a:active, a:visited {
    color: white;
  }

  ul {
    color: white;
    margin: 0 auto;
    padding: 20px 0;
    width: 80%;
  }

  li {
    list-style: none;
    margin: 5px 0;
    padding-left: 20px;
    &:first-child {
      font-size: 18px;
      font-weight: 700;
      padding-left: 0;
    }
  }
}

@media (max-width: 960px) {

  body {
    margin: 0 auto;
  }

  .page input, .page .action {
    border-radius: 0;
    width: 100%;
  }

  .list--header--horizontal-gallery {
    height: 75px;

    img {
      min-height: 75px;
    }

    div {
      height: 75px;
    }
    span {
      height: 75px;
    }
  }

  .hero--inner {
    height: 180px;
  }

  .hero--container p {
    padding: 0 20px;
  }

}
