@import 'partials/mixins';

$white: rgba(255,255,255,1);
$offwhite: rgba(255,255,255,0.5);
$offblack: rgba(0,0,0,0.8);
$districtred: rgba(202, 34, 31, 0.95);
$districtblue: rgba(1, 152, 209, 0.95);

body {
  background: $offwhite;
  background-size: cover;
  color: black;
  font: 16px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  margin: 0 auto;
  overflow-x: hidden;
}

header {
  background: $offblack;
  box-shadow: 0px 2px 4px #222;
  color: #fff;
  cursor: default;
  height: 50px;
  position: fixed;
  top: 0;
  overflow: hidden;
  width: 100%;
  z-index: 5;

  .wrapper {
    background: none;
    font-size: 36px;
    height: 50px;
    margin: 0 auto;
    max-width: 96px;
    overflow: hidden;
    padding: 0;

    form {
      display: inline;
      float: right;
      font-size: 14px;

        input {
        background: none;
        border: none;
        color: white;
        font-size: 14px;
      }
    }

    .nav-user {
      background: $districtblue;
      border: 0;
      font-weight: 400;
      margin: -10px 10px;
      padding: 25px;
      @include transition(all, 0.5s, ease-in-out);

      a {
        color: $white;
      }
    }

    .nav-user:hover {
      background: $districtred;
      opacity: 0.8;
      @include transition(all, 0.5s, ease-in-out);
    }

    ul {
      display: inline;
      float: right;
      margin: 0;
      padding: 0;
    }

    li {
      display: inline-block;
      font-size: 14px;
    }

    input.signout {
      background: none;
      border: none;
      color: $offblack;
    }

     a {
        color: $offwhite;
        text-decoration: none;
      }

    .nav ul{
      float: right;
      font-size: 18px;
      margin-top: 15px;

      li {
        display: inline-block;
        margin-right: 25px;
      }

    }
  }
}

a {
  color: $offblack;
  text-decoration: none;
  @include transition(all, 0.5s, ease-in-out);
}

  a:hover {
    text-decoration: underline;
    @include transition(all, 0.5s, ease-in-out);
  }

/* Container */
.page {
  background: $offwhite;
  margin: 0 auto;
  overflow-x: hidden;
  padding: 15px 0;
  width: 100%;
  max-width: 960px;

  h1 {
    border-bottom: 5px solid lighten($offblack, 40);
    border-top: 5px solid lighten($offblack, 40);
    color: $offblack;
    font-weight: 300;
    margin: 20px 0 0 0;
    padding: 0 10px 0;
  }

  h2 {
    border-top: 2px solid lighten($offwhite, 40);
    border-bottom: 2px solid lighten($offwhite, 40);
    font-size: 18px;
    font-weight: 300;
    margin: 5px 0;
    padding: 5px 10px;
    text-align: center;
    width: 100%;
    max-width: 960px;
  }

  img {
    width: 100%;
  }

  .map {
    background: rgba(255,255,255,0.8);
    float: right;
    height: 300px;
    margin: 0 0 5px 10px;
    padding: 10px;

    h2 {
      border: none;
      padding: 0;
    }

    p {
      font-size: 12px;
      font-style: italic;
      margin: 0 auto;
      text-align: center;
    }
  }

  .promo {
    min-height: 300px;

    .details {
      margin-right: 5px;
      text-align: right;
    }

    ul {
      max-height: 240px;
      overflow-x: hidden;
      padding: 0;
    }

    li {
      display: inline-block;
      margin-right: 153px;
    }

      li:first-child {
        margin-left: 0;
      }

      li:last-child {
        display: inline-block;
        margin-right: 0px;
      }

        /* image */
        .image {

            height: 280px;
            margin-right: 6px;
            opacity: 0.8;
            overflow: hidden;
            width: 148px;
            cursor:pointer;
        }

        /* zoom in image */

        .zoomin img {
          border-top: 10px solid $offwhite;
          height: 240px;
          opacity: 0.8;
          width: 148px;
          @include transition(all, 1s, ease-in-out);
        }

        .zoomin img:hover {
          height: 250px;
          opacity: 1.0;
          width: 160px;
          @include transition(all, 1s, ease-in-out);
        }

      }



  input {
    box-sizing: border-box;
    display: block;
    float: left;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 30px;
    font-weight: 100;
    margin: 0;
    opacity: 0.8;
    padding: 1 5px;
    width: 75%;
  }

  input[type="submit"]:hover{
    -webkit-appearance: none;
    background: $districtred;
    opacity: 0.8;
    @include transition(all, 0.5s, ease-in-out);
  }

  .action {
      -webkit-appearance: none;
      background: $districtblue;
      border: 0;
      border-bottom: 1px solid #ccc;
      color: $white;
      float: left;
      font-weight: 400;
      margin: 0;
      padding: 2px 10px;
      @include transition(all, 0.5s, ease-in-out);
      width: 25%;
    }

    .action:hover {
      background: $districtred;
      opacity: 0.8;
      @include transition(all, 0.5s, ease-in-out);
    }

    .action-small {
      background: $districtblue;
      border: 0;
      color: $white;

      display: initial;
      float: right;
      font-size: 18px;
      margin: 0;
      padding: 2px 10px;
      @include transition(all, 0.5s, ease-in-out);
      width: 3%;

      a {
        background: none;
        color: $white;
        font-weight: 400;
        text-decoration: none;
      }
    }

    .action-small:hover {
      background: $districtred;
      opacity: 0.8;
      @include transition(all, 0.5s, ease-in-out);
    }

    p.action {
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size: 30px;
      font-weight: 100;
      margin: 5px 0;
      opacity: 0.8;
      padding: 0 5px;
      text-align: center;
      width: 98.7%;
    }

    .action a {
      background: none;
      color: $white;
      font-weight: 400;
      text-decoration: none;
    }


  input.cancel {
      background: $districtred;
      border: 0;
      color: $white;
      font-weight: 400;
      margin: 10px 0;
      padding: 2px 10px;
      width: 99.5%;
    }

  .profile-show {
    display: inline;
  }

  /* Call to action */
  .call {
    font-size: 16px;
    font-weight: 100;
    line-height: 32px;

    p {
      margin: 0;
      text-align: center;
    }

    a {
      background: $offwhite;
      padding: 0 4px;
      text-decoration: underline;
      @include transition(all, 0.5s, ease-in-out);
    }

    a:hover {
      background: rgba(255,255,255,0.9);
      color: #000;
      @include transition(all, 0.5s, ease-in-out);
    }
  }

  .nav-right {
    float: right;
    margin: 5px 0 0 0;
    overflow: auto;
    padding: 0 10px;
  }

  .col-gallery {
    float: left;
    height: 200px;
    overflow: hidden;
    text-align: center;
    max-width: 33.3%;

    img {
      height: 200px;
      max-width: 200px;
    }

  }

  .col-show {

    img {
      padding: 10px 0;
      max-width: 100%;
      width: 100%;
    }
  }

  .col-item {
    display: inline-block;
    margin: 20px 0;
    text-align: center;
    width: 20%;
  }

  .hidden {display: none;}

}


/* Main Column */
.col-main {

  ul {
    display: inline;
    padding: 5px 0;
  }

  li {
      background: rgba(255,255,255,0.15);
      display: inline-block;
      font-size: 16px;
      height: 120px;
      list-style: none;
      margin: 10px;
      overflow: hidden;
      padding: 10px;
      @include transition(all, 0.5s, ease-in-out);
      width: 44%;
    }

    li:hover {
      background: rgba(255,255,255,0.45);
      @include transition(all, 0.5s, ease-in-out);
    }

  img {
    clip: rect(60px, 160px, 200px, 60px);
    clip: rect(60px, 160px, 190px, 60px);
    margin: -65px;
    min-height: 195px;
    position: absolute;
  }

  .thumbnail {
    float: left;
    height: 100px;
    width: 105px;

    img {
      width: 300px;
    }
  }

  p {
    font-weight: 200;
  }

  .edit {
    display: block;
    float: right;
    font-size: 10px;
    line-height: 18px;
    text-align: right;
  }

  .details {
    display: block;
    font-style: italic;
    font-size: 12px;
    font-weight: 200;
    margin-left: 10px;
  }

}

/* Footer */
.footer {
    background: rgba(255,255,255,0.1);
    border-bottom: 30px solid rgba(255,255,255,0.05);
    border-top: none;
    margin: 80px auto 0;
    max-width: 600px;
    overflow: auto;
    padding: 0 30px;
    width: 100%;
  }

@media (max-width: 960px) {

body {
  background: rgba(0, 0, 0, 0.15);
  margin: 20px auto 0;
  overflow-x: hidden;
  width: 100%;
}

header {
  height: 25px;

  .wrapper {
    font-size: 18px;
    height: 25px;

    .nav-user {
      padding: 5px;
    }
  }
}

.page {
  background: none;
  box-shadow: none;
  margin: 0 auto 0 0;
  overflow: hidden;
  padding: 0;
  width: 100%;

  h1 {
    font-size: 18px;
    margin: 0;
  }

  .call {
  font-size: 16px;
  font-weight: 200;
  line-height: 21px;

    p {
      padding: 0 10px;
    }
  }

  .promo .image {
        width: 151px;
    }

  .map {
    margin: 0 auto;
    min-width: 320px;
    text-align: center;
    width: 100%;

    iframe {
      display: block;
      margin: 0 auto;

    }
  }
}

.col-main {

  img {
    clip: rect(60px, 110px, 160px, 60px);
    float: left;
    margin: -60px;
    max-width: 108px;
    position: absolute;
  }

  .details {
    font-size: 10px;
    padding-right: 20px;
  }

  .thumbnail {
    margin-right: 5px;
    width: 50px;
  }


}

.col-main li {
  font-size: 16px;
  height: auto;
  margin: 0;
  padding: 5px;
  transition: background 0.5s ease;
  width: 100%;
}

}

@import 'partials/components';
@import 'partials/main';

