<div class="call">
  <p>
    <% if signed_in? %>
      Welcome back, <%= link_to current_user.name, current_user %>! Did you know you can add objects from <a target="_blank" href="http://thewalters.org/default.aspx">The Walters Museum</a> to a personalized list? <%= link_to "View your saved collection.", current_user %>
    <% else %>
      A virtual visit to Baltimore's <a target="_blank" href="http://thewalters.org/default.aspx">The Walters Museum.</a> Learn more by browsing the collection and favoriting pieces you wish to further study. <%= link_to "Join now!", signup_path %>
    <% end %>
  </p>
</div>
