<div class="col-main">
  <ul>
    <% @response_hash.each do |exhibit| %>
      <% if exhibit["ExhibEndDate"].gsub("-", "").to_i > Time.now.strftime("%Y%m%d").to_i %>
        <li><%= exhibit["ExhTitle"] %>
        <span class="details"><%= exhibit["Textblock"] %></span></li>
      <% end %>
    <% end %>
  </ul>
</div>
