<footer>
  <ul>
    <li>MuSM</li>
    <li>2014 &ndash; Matt Rundo (@runtropolis)</li>
  </ul>
  <p>Special thank you to <a target="_blank" href="http://thewalters.org/default.aspx">The Walters Museum</a> for making their API available. All data belongs to the museum.</p>
</footer>
