<div class="col-main">
  <ul>
    <% @response_hash.each do |exhibit| %>
      <% if exhibit["ExhibBeginDate"].gsub("-", "").to_i < Time.now.strftime("%Y%m%d").to_i %>
        <li><a href="exhibits/<%= exhibit['ExhibitionID']%>"><%= exhibit["ExhTitle"] %></a>
        <span class="details"><%= exhibit["Textblock"] %> <a href="exhibits/<%= exhibit['ExhibitionID']%>">Learn more</a>&nbsp;&raquo;</span></li>
      <% end %>
    <% end %>
  </ul>
</div>
