<h2>Popular Works</h2>
  <ul>
    <% @favorited_popular.each do |favorite| %>
      <li>
         <img src="<%= favorite["PrimaryImage"]["Raw"] %>" alt="<%= favorite["Title"] %>">
      </li>
    <% end %>
  </ul>
