<div>
  <% random_results.shuffle.sample(10).each do |work| %>
    <span class="zoomin image">
      <% if work["PrimaryImage"]["Large"] %>
       <a href="/works/<%= work["ObjectID"] %>"><img class="image--random" src="<%= work["PrimaryImage"]["Large"] %>" alt="<%= work["Title"] %>" title="<%= work["Title"] %> &ndash; <%= work["Creator"] %>"/></a>
      <% else %>
        <img src="../images/not_available.png" alt="">
      <% end %>
    </span>
  <% end %>
</div>
