<% if signed_in? %>

  <%= form_for :session, url: signout_path, method: 'delete' do |f| %>
    <ul>
      <li class="nav-user">Signed in as <%= link_to current_user.name, current_user %></li>
      <li class="nav-user"><%= f.submit "Sign out", id: 'signout', class: 'nav-user-cancel' %></li>
    </ul>
  <% end %>

  <% else %>
  <ul>
    <li class="nav-user"><%= link_to "Sign In", signin_path %></li>
    <li class="nav-user"><%= link_to "Sign up", signup_path %></li>
  </ul>

<% end %>
