<div class="row--full-width--black"></div>
<div class="list--header--horizontal-gallery">
  <%= render 'common/random_five_works' %>
</div>
<footer>
  <ul>
    <li>Walters App</li>
    <li>Virtual collection utilizing the <a target="blank" href="http://api.thewalters.org/">Walters Collection API</a></li>
    <li><a target="blank" href="http://github.com/mcrundo">@mcrundo</a></li>
  </ul>
</footer>
