<p class="text--app-title"><a href="/"><i class="fa fa-university">&nbsp;Walters</i></a></p>
<div class="list--header--horizontal-gallery">
  <%= render 'common/random_five_works' %>
</div>
<div class="row--full-width--black"></div>
